.login-page {
    text-align: center;
    margin-top: 5vh;
    width: 65vmin;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 2% 2% 2%;
}

.login-page input {
    font-size: 20px;
    padding: 10px 10px;
    width: 80%;
    border: 0;
    border-radius: 5px;
    outline: none;

}

.sign-in-btn {
    font-size: calc(2px + 2vmin);
    color: rgb(255, 255, 255);
    display: block;
    margin: 20px auto;
    padding: 3%;
    border: 0;
    border-radius: 5px;
    outline: none;
    background: linear-gradient(to left, cornflowerblue 50%, salmon 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}
.sign-in-btn:hover {
    background-position: left;
}
.btn:hover {
    background-position: left;
}

.btn {
    vertical-align: middle;
    height: 60px;
    font-size: calc(2px + 1.8vmin);
    width: 120px;
    background-color: lawngreen;
    color: white;
    display: inline-block;
    padding: 2%;
    border: 0px;
    border-radius: 5px;
    outline: none;
    background: linear-gradient(to left, cornflowerblue 50%, salmon 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    font-size: calc(2px + 2vmin);
}

.header-form {
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin: 15px 0;
}

#infoMessage {
    margin: 15px auto auto auto;
    font-size: 20px;
}

.link {
    margin: auto;
    text-decoration: none;
}