.app {
  background: linear-gradient(to bottom, #152f4b, #A4CBF3, #152f4b);
  align-items: center;
  position: relative;
}

.header {
  padding: 1% 1% 1% 1%;
  display: flex;
  flex-direction: row;
}

.amblem {
  justify-content: center;
}

.amblem_image {
  width: 20vmin;
}

.title {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'Sans-Serif';
  padding-top: 4vh;
  width: calc(100vw - 20vmin - 5vmin);
  font-size: calc(2vw + 5px);
}

.area {
  position: relative;
  margin: auto;
  min-height: 100vh;
}


.footer {
  height: 3vh;
  text-align: center;
  padding: 1% 1% 1% 1%;
  color: rgb(120, 127, 134);
  font-size: calc(4px + 2vmin);
}

@media only screen and (max-width: 1100px) {
  .app {
    padding-bottom: 11vh;
    background: linear-gradient(to bottom, #152f4b 2%, #A4CBF3, #152f4b 88%);
  }
}